.daoDu {
  overflow: scroll;
  overflow-x: hidden;
  height: 80vh;

  .title {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: #3f3f3f;
    margin-left: 16px;
    margin-top: 10px;
  }

  .summaryContent {
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(220, 233, 255);
  }

  .questionContent {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;

    .ull {
      overflow: hidden;
      margin-bottom: 40px;
      background-color: rgb(220, 233, 255);

      .que {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0 10px;

      }

      .ans {
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 0 10px;

      }
    }


  }
}

.zhankai {
  background-color: #fff;
  float: right;
  font-size: 11px;
  color: #cdcdcd;
}

.icon {
  float: right;
  font-size: 11px;
  color: #cdcdcd;
  line-height: a;
}

.gptResult {
  margin-top: 20px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  background-color: rgb(220, 233, 255);
}