$color: rgb(237, 242, 255);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

body {
  background-color: $color;
  // 禁用文字选中
  user-select: none;
}

img {
  // 禁止拖动图片
  -webkit-user-drag: none;
}