.layout-in {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgb(237, 242, 255);

	.content-in {
		height: 100%;
		margin-top: 10px;

		.modern1 {
			position: relative;
			width: 1100px;
			height: 400px;
			border: 3px solid #dedddd;
			border-radius: 10px;
			background: no-repeat url('../../assets/dog.gif');
			background-size: 100% 100%;
			margin: 0 auto;

			.selection {
				float: right;
				margin: 20px 15px 0px 0px;

				.text {
					display: inline-block;
					margin: 0 20px;
				}

				.menu {
					background: rgb(32, 59, 156);
					display: inline-block;
					border-radius: 18px;
					padding: 10px;
				}
			}

			.jieshao {
				position: absolute;
				top: 50%;
				left: 15%;
				margin-top: -100px;
				width: 400px;
				height: 200px;

				.title {
					font-size: 36px;
					font-weight: 600;
					margin: 35px 0 15px 0;
				}

				.text {
					font-size: 26px;
					margin-bottom: 15px;
				}

				.p1 {
					margin-bottom: 10px;
				}
			}
		}

		.modern2 {
			width: 1200px;
			height: 120px;
			margin: 60px auto;
			display: flex;
			align-items: center;
			justify-content: space-evenly;


			h3 {
				font-size: 18px;
				font-weight: 500;
				padding-top: 5px;
				margin-bottom: 8px;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

			}

			p {
				margin-bottom: 5px;
				font-size: 12px;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			}

			.word {
				float: left;
				width: 120px;
				height: 80px;
				padding-top: 5px;
				margin: 20px 0 20px 25px;
			}

			.icon {
				float: left;
				width: 40px;
				height: 80px;
				margin: 20px 0 20px 0;
				line-height: 80px;
				text-align: center;
			}




			.txt {
				display: inline-block;
				width: 200px;
				height: 120px;
				margin: 0 75px;
				color: #fff;
				background: rgba(53, 102, 202, 0.9);
				border: 2px solid rgb(204, 204, 204, 0.2);
				border-radius: 20px;
			}

			.wp {
				display: inline-block;
				width: 200px;
				height: 120px;
				margin: 0 50px;
				color: #fff;
				background: rgba(53, 102, 202, 0.9);
				border: 2px solid rgb(204, 204, 204, 0.2);
				border-radius: 20px;
			}

			.pic {
				display: inline-block;
				width: 200px;
				height: 120px;
				margin: 0 50px;
				color: #fff;
				background: rgba(53, 102, 202, 0.9);
				border: 2px solid rgb(204, 204, 204, 0.2);
				border-radius: 20px;
			}
		}
	}
}